.info-form-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #282c34;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #fff;
}

.form-title {
    text-align: center;
    margin-bottom: 20px;
    color: #61dafb;
}

.info-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

label {
    flex-shrink: 0;
    width: 120px; /* Adjust the width as needed */
    font-weight: bold;
    text-align: right;
    margin-bottom: 5px;
    color: #61dafb;
}

input, select {
    flex-grow: 1;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #61dafb;
    border-radius: 4px;
    background-color: #282c34;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

input:focus, select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

button {
    padding: 10px 20px;
    background: linear-gradient(to right, #61dafb, #00b8d9);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    align-self: center;
}

button:hover {
    background: linear-gradient(to right, #00b8d9, #61dafb);
}

button:active {
    transform: translateY(1px);
}